/* ----------Generic Selector--------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    min-width: 770px;
}



/* #region----------Utility Selector--------- */

:root {
    --db-white: #ffffff;
    --db-totalblack: #000000;
    --db-banner-heavenly: #b4d0e7;
    --db-blue-btn: #0262ff;
    --db-trasparent: trasparent;

}


.container {

    width: 60%;
    margin: auto;
    max-width: 1400px;
    min-width: 500px;

}


.container_smll {
    width: 50%;
    margin: auto;
    max-width: 1200px;
    min-width: 500px;
}


.link_blue_btn {
    background-color: var(--db-blue-btn);
    padding: 8px 15px;
    color: var(--db-white);
    display: inline-block;
    text-decoration: none;
    margin: 30px 0;
}

.link_blue_btn1 {
    background-color: var(--db-blue-btn);
    padding: 8px 15px;
    color: var(--db-white);
    display: inline-block;
    text-decoration: none;
    margin: 30px 0;
    width: 80%;
}

.size-12 {
    font-size: 12px;
}

.padding-5 {
    padding: 10px 20px;
}


.padding_section {
    padding: 50px 0 50px 0;
}

.margin-top-bottom-20 {
    margin: 20px 0;
}

.text_align_center {
    text-align: center;
}

.d-flex {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.col-4 {
    width: calc(100% / 3 - 20px);
    padding-bottom: 20px;
}



/* #endregion----------Utility Selector--------- */



/* #region----------Debug Selector--------- */

.debug #banner div {
    background-color: green;
    height: 100%;

}

.debug .container_plans {
    height: 500px;
    background-color: brown;

}

.debug .container_More_operations {
    height: 500px;
    background-color: rgb(79, 42, 165);

}

.debug .row_brands {
    height: 500px;
    background-color: rgb(40, 194, 51);
}

.debug .container_teams {
    height: 500px;
    background-color: rgb(103, 129, 105);
}

.debug .footer_col-1-5 {
    background-color: #ffffff;
    margin-right: 5px;
    height: 300px;
}

/* #endregion----------Debug Selector--------- */

/* ----------Header Selector--------- */

#app-header {
    height: 50px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_container a {
    color: var(--db-totalblack);
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.header_container .header_right .link_blue_btn {
    background-color: var(--db-blue-btn);
    padding: 5px 15px;
    color: var(--db-white);
}


/* ----------Main Selector--------- */

/* banner section */

#banner {
    background-color: #b4d0e7;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}

#banner>div {
    background-color: var(--db-trasparent);
}

#banner h1 {
    font-size: 50px;
}

.container_info_banner {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.info_banner {
    width: 30%;
    font-size: 12px;
}

.img_banner {
    width: 70%;
    position: relative;


}

.img_banner img {
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;

}

.info_banner i {
    margin: 40px 0 10px 0;
}


/* plans section  */


.container_plans>h2 {
    padding: 10px 0 50px 0;
}

.check_month_or_year label {
    margin-right: 25px;
}

.check_month_or_year input {
    vertical-align: middle;

}

.container_plans form {
    margin-bottom: 50px;
}

.row_plan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container_plans .col-4 {
    width: calc(100% / 3 - 20px);
    border: 1px solid gray;
    padding-bottom: 20px;

}

.title_of_card_plans {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 7px 0;
    font-size: 12px;

}

.col-4 h3 {
    margin-top: 20px;
}

.row_plan ul {
    list-style: none;
    font-size: 12px;

}

.line_end_first_list {
    border-bottom: 1px solid gray;
    width: 40px;
    margin: 20px 0;
}

.plan_highlights i {
    color: var(--db-blue-btn);
}


/* final column 12  */

.container_plans .col-12 {
    width: 100%;
    border: 1px solid gray;
    padding-bottom: 20px;
    margin: 30px 0;

}

.Final_columns_right {
    margin: 0 20px;
    width: 50%;
}

.col-12 h3 {
    margin-top: 20px;
}

/* Contact dropbox partner  */

.container_partner_Dropbox {
    display: flex;
}

.container_img_partner {
    width: 60%;
}


.container_img_partner>img {
    width: 100%;
    max-width: 600px;
}

.info_container {
    padding: 40px;
    width: 40%;
}

.info_container p {
    margin: 20px 0;
    font-size: 12px;
}

.link_btn a {
    border: 2px solid var(--db-totalblack);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--db-totalblack);
    display: inline-block;
    font-size: 12px;
}


/* More_operations */



.container_More_operations>h2 {
    padding: 10px 0 10px 0;
}

.img_operations img {
    width: 100%;
    margin-top: 30px;
}

/* Teams */

.link_button_info_clients {
    margin-top: 50px;
}

/* Brands */

#brands {
    padding-top: 50px;
}

.row_brands {
    display: flex;

}

.brands_col-4 {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.block_brand {
    width: 50%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

.block_brand img {
    filter: invert();
    width: 50%;
}


.first_block {
    border: 10px solid #d1e9cd;
    background-color: #a2d39b;
}

.second_block {
    background-color: #61082b;
}

.third_block {
    background-color: #0093ce;
}

.fourth_block {
    background-color: #ff1c1c;
}

.fifth_block {
    background-color: #d5001f;
}

.sixth_block {
    background-color: #b4d0e7;
}

.seventh_block {
    background-color: #0d2481;
}

.ninth_block {
    background-color: #ffd830;
}


/* central block of brand  */


.brands_central_col {
    width: calc(100% / 3);
    padding: 40px;
    background-color: #f5f5f5;

}

.brands_central_col h2 {
    font-size: 39px;
}

.brands_central_col h2 i {
    font-size: 12px;
    position: relative;
    top: -21px;
    left: 0;
}



/* Your company */

#your_company {
    background-color: var(--db-banner-heavenly);
    padding: 100px 0;
}

.link_button_free_trial {
    width: 50%;
    text-align: end;
}

.container_your_company a {
    text-align: center;
    width: 80%;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--db-totalblack);
    display: inline-block;
    font-size: 12px;
    background-color: var(--db-white);
}

/* Frequent questions */

.button_frequent_questions {
    display: flex;
    justify-content: space-between;
}


/* ----------footer Selector--------- */

#app-footer {
    background-color: var(--db-totalblack);
    margin-top: 50px;
}


.row_footer {
    display: flex;
    width: 100%;
}

.footer_col-1-5 {
    width: calc(100% / 5 - 5px);

}


/* lenguage  */

.lenguage {
    color: var(--db-white);
    text-decoration: none;
    vertical-align: middle;

}

.fa-earth-americas {
    margin-right: 5px;
}

.fa-caret-up {
    margin-left: 5px;
}