/* ----------Generic Selector--------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    min-width: 770px;
}



/* #region----------Utility Selector--------- */

:root {
    --db-white: #ffffff;
    --db-totalblack: #000000;
    --db-banner-heavenly: #b4d0e7;
    --db-blue-btn: #0262ff;
    --db-trasparent: trasparent;

}


.container {

    width: 60%;
    margin: auto;

}

.padding_section {
    padding: 50px 0 50px 0;
}

.container_smll {
    width: 50%;
    margin: auto;
}

/* #endregion----------Utility Selector--------- */



/* #region----------Debug Selector--------- */

.debug #banner div {
    background-color: green;
    height: 100%;

}

.debug .container_plans {
    height: 500px;
    background-color: brown;

}

.debug .container_More_operations {
    height: 500px;
    background-color: rgb(79, 42, 165);

}

.debug .row_brands {
    height: 500px;
    background-color: rgb(40, 194, 51);
}

.debug .container_teams {
    height: 500px;
    background-color: rgb(103, 129, 105);
}

.debug .footer_col-1-5 {
    background-color: #ffffff;
    margin-right: 5px;
    height: 300px;
}

/* ----------Header Selector--------- */

#app-header {
    height: 50px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_container a {
    color: var(--db-totalblack);
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.header_container .header_right .link_blue_btn {
    background-color: var(--db-blue-btn);
    padding: 5px 15px;
    color: var(--db-white);
}


/* ----------Main Selector--------- */

/* banner section */

#banner {
    background-color: #b4d0e7;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}

#banner > div {
    background-color: var(--db-trasparent);
}

#banner h1 {
    font-size: 50px;
}

.container_info_banner {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.info_banner {
    width: 30%;
    font-size: 12px;
}

.info_banner .link_blue_btn {
    background-color: var(--db-blue-btn);
    padding: 5px 15px;
    color: var(--db-white);
    display: inline-block;
    text-decoration: none;
    margin: 30px 0;
}

.img_banner {
    width: 70%;
    position: relative;
    
}

.img_banner img {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
}

.info_banner i{
    margin: 40px 0 10px 0;
}


/* plans section  */


.container_plans>h2 {
    padding: 10px 0 10px 0;
}

/* Contact dropbox partner  */


.container_partner_Dropbox {
    display: flex;
}


.container_partner_Dropbox>img {
    width: 60%;
}

.info_container {
    padding: 40px;
}


/* More_operations */

.container_More_operations>h2 {
    padding: 10px 0 10px 0;
}

/* Teams */

.link_button_info_clients {
    margin-top: 50px;
}

/* Brands */

/* Your company */

.container_your_company {
    display: flex;
    justify-content: space-between;
}

/* Frequent questions */


/* ----------footer Selector--------- */

#app-footer {
    background-color: var(--db-totalblack);
}


.row_footer {
    display: flex;
    width: 100%;
}

.footer_col-1-5 {
    width: calc(100% / 5 - 5px);

}


/* lenguage  */

.lenguage {
    color: var(--db-white);
    text-decoration: none;
    vertical-align: middle;

}

.fa-earth-americas {
    margin-right: 5px;
}

.fa-caret-up {
    margin-left: 5px;
}