/* ----------Generic Selector--------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    min-width: 770px;
    

}




/* #region----------Utility Selector--------- */

/* pseudo-selector  */

:root {
    --db-white: #ffffff;
    --db-totalblack: #000000;
    --db-banner-heavenly: #b4d0e7;
    --db-blue-btn: #0262ff;
    --db-blue-btn_press: #2e7cfa;
    --db-blue-btn_hover: #0263ffcc;
    --db-trasparent: trasparent;

}

.btn_press:hover {

    background-color: var(--db-blue-btn_press);

}

.link_press:hover {
    filter:drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.244));
    transform: scale(1.05);
    
}


.question:hover p {
    display: block;
}

.fa-chevron-up {
    display: none;
}

.button_frequent_questions:active p,.button_frequent_questions:active .fa-chevron-up {
    display: block;
    transition-duration: 1s;
    
}

.button_frequent_questions:active .fa-chevron-down {
    display: none;
}

/* .row_brands .brands_col-4 .first_block:hover {
    
} */


/* Normal selector  */

.container {

    width: 60%;
    margin: auto;
    max-width: 1400px;
    min-width: 500px;

}


.container_smll {
    width: 50%;
    margin: auto;
    max-width: 1200px;
    min-width: 500px;
}


.link_blue_btn2 {
    background-color: var(--db-blue-btn);
    padding: 8px 15px;
    color: var(--db-white);
    display: inline-block;
    text-decoration: none;
    margin: 30px 0;
}

.link_blue_btn3 {
    background-color: var(--db-blue-btn);
    padding: 8px 15px;
    color: var(--db-white);
    display: inline-block;
    text-decoration: none;
    margin: 30px 0;
    width: 80%;
}

.size-12 {
    font-size: 12px;
}

.padding-5 {
    padding: 10px 20px;
}


.padding_section {
    padding: 50px 0 50px 0;
}

.margin-top-bottom-20 {
    margin: 20px 0;
}

.margin-top-bottom-30 {
    margin: 30px 0;
}

.text_align_center {
    text-align: center;
}

.d-flex {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.col-4 {
    width: calc(100% / 3 - 20px);
    padding-bottom: 20px;
}





/* #endregion----------Utility Selector--------- */



/* #region----------Debug Selector--------- */

.debug #banner div {
    background-color: green;
    height: 100%;

}

.debug .container_plans {
    height: 500px;
    background-color: brown;

}

.debug .container_More_operations {
    height: 500px;
    background-color: rgb(79, 42, 165);

}

.debug .row_brands {
    height: 500px;
    background-color: rgb(40, 194, 51);
}

.debug .container_teams {
    height: 500px;
    background-color: rgb(103, 129, 105);
}

.debug .footer_col-1-5 {
    background-color: #ffffff;
    margin-right: 5px;
    height: 300px;
}

/* #endregion----------Debug Selector--------- */

/* ----------Header Selector--------- */

#app-header {
    height: 60px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_container a:not(.link_blue_btn) {
    color: var(--db-totalblack);
    padding: 22px 0;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.header_container a:not(.logo, .link_blue_btn):hover {
    border-bottom: 2px solid var(--db-blue-btn_hover);
    border-radius: 2px;

}

.link_blue_btn {
    background-color: var(--db-blue-btn);
    padding: 5px 15px;
    color: var(--db-white);
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;


}



/* ----------Main Selector--------- */

/* banner section */

#banner {
    background-color: #b4d0e7;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}

#banner>div {
    background-color: var(--db-trasparent);
}

#banner h1 {
    font-size: 50px;
}

.container_info_banner {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.info_banner {
    width: 30%;
    font-size: 12px;
}

.img_banner {
    width: 70%;
    position: relative;


}

.img_banner img {
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;

}

.info_banner i {
    margin: 40px 0 10px 0;
}


/* plans section  */


.container_plans>h2 {
    padding: 10px 0 50px 0;
}

.check_month_or_year label {
    margin-right: 25px;
}

.check_month_or_year input {
    vertical-align: middle;

}

.container_plans form {
    margin-bottom: 50px;
}

.row_plan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container_plans .col-4 {
    width: calc(100% / 3 - 20px);
    border: 1px solid gray;
    padding-bottom: 20px;

}

.title_of_card_plans {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 7px 0;
    font-size: 12px;

}

.col-4 h3 {
    margin-top: 20px;
}

.row_plan ul {
    list-style: none;
    font-size: 12px;

}

.line_end_first_list {
    border-bottom: 1px solid gray;
    width: 40px;
    margin: 20px 0;
}

.plan_highlights i {
    color: var(--db-blue-btn);
}


/* final column 12  */

.container_plans .col-12 {
    width: 100%;
    border: 1px solid gray;
    padding-bottom: 20px;
    margin: 30px 0;

}

.Final_columns_right {
    margin: 0 20px;
    width: 50%;
}

.col-12 h3 {
    margin-top: 20px;
}

/* Contact dropbox partner  */

.container_partner_Dropbox {
    display: flex;
}

.container_img_partner {
    width: 60%;
}


.container_img_partner>img {
    width: 100%;
    max-width: 600px;
}

.info_container {
    padding: 40px;
    width: 40%;
}

.info_container p {
    margin: 20px 0;
    font-size: 12px;
}

.link_btn a {
    border: 2px solid var(--db-totalblack);
    padding: 5px 10px;
    text-decoration: none;
    color: var(--db-totalblack);
    display: inline-block;
    font-size: 12px;

}

.link_btn {
    position: relative;
    display: inline-block;

}


/* More_operations */



.container_More_operations>h2 {
    padding: 10px 0 10px 0;
}

.img_operations img {
    width: 100%;
    margin-top: 30px;
}

/* Teams */

.link_button_info_clients {
    margin-top: 50px;
}

/* Brands */

#brands {
    padding-top: 50px;
    max-width: 1920px;
    margin: auto;
}

.row_brands {
    display: flex;
   

}

.brands_col-4 {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.block_brand {
    width: 50%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

.block_brand img {
    filter: invert();
    width: 50%;
}


.first_block {
    border: 10px solid #d1e9cd;
    background-color: #a2d39b;
}

.second_block {
    background-color: #61082b;
}

.third_block {
    background-color: #0093ce;
}

.fourth_block {
    background-color: #ff1c1c;
}

.fifth_block {
    background-color: #d5001f;
}

.sixth_block {
    background-color: #b4d0e7;
}

.seventh_block {
    background-color: #0d2481;
}

.ninth_block {
    background-color: #ffd830;
}


/* central block of brand  */


.brands_central_col {
    width: calc(100% / 3);
    padding: 40px;
    background-color: #f5f5f5;

}

.brands_central_col .main_logo_brand {
    display: block;
    max-width: 100%;
}

/* .brands_central_col h2 {
    font-size: 39px;
}

.brands_central_col h2 i {
    font-size: 12px;
    position: relative;
    top: -21px;
    left: 0;
} */



/* Your company */

#your_company {
    background-color: var(--db-banner-heavenly);
    padding: 100px 0;
    max-width: 1920px;
    margin: auto;
}

.link_button_free_trial {
    width: 50%;
    text-align: end;
}

.container_your_company a {
    text-align: center;
    width: 80%;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--db-totalblack);
    display: inline-block;
    font-size: 12px;
    background-color: var(--db-white);
}

/* Frequent questions */

.button_frequent_questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.question {
    font-weight: 600;
    font-size: 12px;
    width: 90%;
}

.fa-chevron-down {
    width: 10%;
    display: block;
    font-size: 12px;
    text-align: end;
}

/* class hidden */

.fa-chevron-up {
    width: 10%;
    display: none;
    font-size: 12px;
    text-align: end;
}

.answer {
    display: none;
    font-size: 12px;
    margin-top: 20px;
   
}

/* ----------footer Selector--------- */

#app-footer {
    background-color: var(--db-totalblack);
    margin-top: 50px;
    color: var(--db-white);
}


.row_footer {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.footer_col-1-5 {
    width: calc(100% / 5 - 10px);

}

.footer_container ul {
    list-style: none;
}

.footer_col-1-5 a {
    color: white;
    text-decoration: none;
    margin: 8px 0;
    display: inline-block;
    font-size: 12px;
}

.line_end_footer {
    width: 100px;
    border-bottom: 1px solid white;
    margin: 80px 0 40px 0;
}

/* lenguage  */

.lenguage {
    color: #969390;
    text-decoration: none;
    vertical-align: middle;

}

.fa-earth-americas {
    margin-right: 5px;
}

.fa-caret-up {
    margin-left: 5px;
}





/* ---------ANIMATION---------- */


.top_white_space {
    position: absolute;
    top: -3px;
    left: 10%;
    background: var(--db-white);
    width: 10px;
    height: 10px;

}

.bottom_white_space {
    position: absolute;
    bottom: -3px;
    right: 10%;
    background: var(--db-white);
    width: 10px;
    height: 10px;

}


@keyframes lateral_move_top {
    0% {

        top: -3px;
        left: 10%;
    }

    25% {
        top: -3px;
        left: calc(100% - 6px);
    }

    50% {
        top: calc(100% - 3px);
        left: calc(100% - 6px);
    }

    75% {
        top: calc(100% - 3px);
        left: -3px;
    }

    97% {
        left: -3px;
        top: -3px;
    }

    100% {
        top: -3px;
        left: 10%;
    }
}

.link_btn:hover .top_white_space {
    animation: lateral_move_top 3s linear infinite;
}

 @keyframes lateral_move_bottom {
    0% {

        right: 10%;
        bottom: -3px;
    }

    25% {
        bottom: -3px;
        right: calc(100% - 6px);
    }

    50% {
        bottom: calc(100% - 3px);
        right: calc(100% - 6px);
    }

    75% {
        bottom: calc(100% - 3px);
        right: -6px;
    }

    97% {
        right: -6px;
        bottom: -3px;
    }

    100% {
        right: 10%;
        bottom: -3px;
    }
}

.link_btn:hover .bottom_white_space {
    animation: lateral_move_bottom 3s linear infinite;
} 


